/*----------------------------------------------------*/
.container {
    position: relative;
    max-width: 1900px;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    position: relative;
}

.menu-item a {
    display: block;
    color: rgb(78, 46, 76);
    text-decoration: none;
    padding: 10px 10px;
}

.menu-item :hover {
    background-color:aqua;
}

.has-sub-menu a {
    position: relative;
    padding-right: 40px;
}

.has-sub-menu:after {
    content: '▶';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #ff008c;
    font-size: 10px;
    font-weight: 500;
}

.has-sub-menu :hover {
    color: #000000;
}

.sub-menu {
    position: absolute;
    z-index: 999;
    opacity: 0;
    transform: translateX(200px);
    pointer-events: none;
    transition: 0.5s ease-out;
    min-width: 100%;
    width: max-content;
    background-color: rgb(255, 227, 253);
    list-style-type: none;
}

.menu-item {
    width: 100%;
}

.has-sub-menu:hover>.sub-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.has-sub-menu>.sub-menu {
    top: 0;
    left: 100%;
}

/*----------------------------------------------------*/

.flex-container {
    display: flex;
    background-color: #ff00ffce;
    background-size: cover;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    align-items: flex-start;
    align-content: center;
}

.flex-container>div {
    background-color: #FF00FF;
    width: 1000px;
    margin: 10px;
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
}

aside {
    background-color: rgba(69, 151, 210, 0.432);
    padding: 30px;
    grid-column: 4/5;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

article {
    padding: 30px;
    background-color: #fff;
    grid-column: 1/4;
}

footer {
    background-color: rgba(233, 233, 233, 0.274);
    color: rgba(255, 255, 255, 0.849);
    padding: 10px;
}


.logo {
    width: 200px;
    height: 70px;
    background-color: aqua;
    position: relative;
    padding: 5px;
    margin: 01%;
    display: flex;
    align-items: flex-start;
}

.containerFoot {
    display: grid;
    grid-template-columns: 250px 100px;
    grid-template-rows: 100px;
    gap:60%;
    box-sizing: border-box;
    grid-auto-columns: 100px;
    display: flex;
    flex-direction:row-reverse;
    flex-wrap: wrap;
}

.containerFoot>div {
    padding: 1em;
    border: solid 2px white;
}

.elemento2 {
    align-content: center;
    background-color: aqua;
}

.elemento2:hover {
    /*filter: blur(4px);*/
    /*filter: grayscale(80%)*/
    /*filter: sepia(60%)*/
    /*filter: opacity(.5)*/
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #887f04;
    -webkit-box-shadow: 0px 0px 15px 15px #6d1eec;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.logo>:hover{
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}